.image_produit {
    display: inline;
}
.description_produit {
    display: inline;
    float: left;
    background-color: aqua;
}
.container-fluid {
    background-color: aquamarine;
    text-align: center;
    min-height: 100%;
}

.table-bordered {
  border-collapse:collapse;
  background-color:initial;
}

.card-1 {
  border: none;
    border-radius: 10px;
    width: 100%;
    background-color: #ffffff;
}

input[type='number']{
  width: 50px;
  text-align:center;
} 

/* Small devices */
@media (min-width: 576px) {
    .container-fluid {
      width: 100%;
    }
  }
  
  /* Medium devices */
  @media (min-width: 768px) {
    .container-fluidody {
      width: 100%;
    }
  }
  
  /* Large devices */
  @media (min-width: 992px) {
    .container-fluid {
      width: 80%;
    }
  }
  
  /* Extra large devices */
  @media (min-width: 1200px) {
    .container-fluid {
      width: 60%;
    }
  
  }